body {
  background-color: #0C0C0C;
  color: #ffffff;
  margin-top: 25px;
  font-family: monospace, sans-serif;
  font-size: 12pt;
}

a {
  color: #00ffff;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #ffff00;
}

li {
  list-style-type: none;
}

li ul li {
  list-style-type: disc;
}

table {
  border-style: solid;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
  width: 90%;
}

tr {
  height: 30px;
}

td {
  border-style: solid;
  width: 15%;
}

.me a {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.me img {
  border-color: #ffffff;
  border-radius: 100%;
  border-style: solid;
  border-width: 0px;
  padding: 25px;
  transition: 1s;
  width: 250px;
}

.me img:hover {
  padding: 0px;
  width: 300px;
}

.header {
  font-size: 48pt;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}

.footer {
  margin-top: 10px;
}

.lean {
  margin-bottom: -10pt;
  width: 150pt;
}

.lmfdb {
  margin-bottom: -30pt;
  width: 150pt;
}

.terminal {
  background-color: #012456;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  min-width: 750px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 25px;
  padding-top: 10px;
  width: 75%;
}