body {
  color: #ffffff;
  font-size: 12pt;
  background: #0C0C0C;
  margin-top: 25px;
  font-family: monospace, sans-serif;
}

a {
  color: #00ffff;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #ffff00;
}

li {
  list-style-type: none;
}

li ul li {
  list-style-type: disc;
}

.me a {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
}

.me img {
  width: 250px;
  padding: 25px;
  transition: 1s;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0px;
  border-radius: 100%;
}

.me img:hover {
  width: 300px;
  padding: 0px;
}

.header {
  font-size: 48pt;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.terminal {
  width: 75%;
  padding: 10px;
  max-width: 1500px;
  min-width: 750px;
  background: #012456;
  margin-left: auto;
  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  margin-right: auto;
}
